            <div class="row">
              <div class="col-md-12">
                <h2>Admin Dashboard</h2>   
                <h5>Welcome To Admin Dashboard</h5>
              </div>
            </div>              
            <hr />
            <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-back noti-box">
                  <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-user-o"></i>
                  </span>
                  <div class="text-box" >
                    <p class="main-text"><%= developers %> Developers</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-back noti-box">
                  <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-user"></i>
                  </span>
                  <div class="text-box" >
                    <p class="main-text"><%= trainees %> Trainees</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">           
                <div class="panel panel-back noti-box">
                  <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-user"></i>
                  </span>
                  <div class="text-box" >
                    <p class="main-text"><%= students %> Students</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">           
              
                  <div class="text-box" >
                   
                  </div>
                </div>
              </div>
            </div>