<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= image_tag "logo.jpg", class: "img-responsive"  %>
  </div>
</div>
<div class="jumbotron">
  <h1 class="text-center">Status Updates</h1>
  <%= link_to "Prepare Your Status", new_task_path, class: "btn btn-primary btn-lg" %>
</div>